include ./mixins

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    title Vue-Treeselect
    meta(name="description" content="A multi-select component with nested options support for Vue.js")
  body
    #app
      div.container
        section#main
          div#sidebar
            //- include ./partials/sidebar
          div#content
            //- include ./partials/dev
            //- include ./partials/introduction
            //- include ./partials/getting-started
            include ./partials/guides
            //- include ./partials/api

    script(src="https://buttons.github.io/buttons.js" async defer)

+renderToc()
